
*.aux

*.log

*.out

*.gz

*.toc
*.bak
*.bbl
*.blg

Exercises/*.pdf

Labs/VersionControl/VersionControl.pdf

LectureNotes/ResearchSkills.pdf

LectureNotes/ResearchSkills.pdf

Labs/ScientificWriting/Script/writing.pdf

*.dvi

Labs/ScientificWriting/Script/tufte.bst
Labs/ScientificWriting/Script/tufte-handout.cls
Labs/ScientificWriting/Script/tufte-common.def
Labs/ScientificWriting/Script/tufte-book.cls
Labs/ScientificWriting/Script/elsarticle-harv.bst

Labs/R/Script/EssentialStats-concordance.tex

Labs/R/Script/EssentialStats.pdf

Labs/R/Script/EssentialStats.tex



Labs/R/Practicals/StatisticalAnalysisInR/Statistics.html
