
*.aux

*.log

*.out

*.gz

*.toc
*.bak
*.bbl
*.blg

Exercises/*.pdf

Labs/VersionControl/VersionControl.pdf

LectureNotes/ResearchSkills.pdf

LectureNotes/ResearchSkills.pdf

Labs/ScientificWriting/Script/writing.pdf

*.dvi

Labs/ScientificWriting/Script/tufte.bst
Labs/ScientificWriting/Script/tufte-handout.cls
Labs/ScientificWriting/Script/tufte-common.def
Labs/ScientificWriting/Script/tufte-book.cls
Labs/ScientificWriting/Script/elsarticle-harv.bst

Labs/R/Script/EssentialStats-concordance.tex

Labs/R/Script/EssentialStats.pdf

Labs/R/Script/EssentialStats.tex



Labs/R/Practicals/StatisticalAnalysisInR/Statistics.html
LectureNotes/ResearchSkills.pdf
LectureNotes/ResearchSkills.pdf
Labs/Statistics/Script/EssentialStats.pdf
Labs/Statistics/Script/EssentialStats-concordance.tex

Labs/Statistics/Practicals/StatisticalAnalysisInR/Statistics.html

Labs/Statistics/Script/EssentialStatistics-concordance.tex

Labs/Statistics/Script/EssentialStatistics.tex

Labs/VersionControl/Practical/VersionControl.tex
Labs/Statistics/Script/.Rhistory
Labs/Statistics/Practicals/GraphicsInR/Rgraphics.html
Labs/ProjectOrganization/ExampleProject/thesis/mydocument.pdf
*.Rhistory

Labs/Statistics/Script/EssentialStatistics-*.pdf
